<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Learn Apex Homepage</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- Favicons -->
        <link rel="shortcut icon" href="img/favicon.ico">
        <link rel="stylesheet" id="bootstrap-css" href="../lib/bootstrap/css/bootstrap.min.css" type="text/css" media="all">
        
        <script src="../lib/jquery-1.11.1.min.js" type="text/javascript"></script>
        <script src="../lib/angular.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="navbar" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Learn AngularJS
                    </a>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </div>
        <div id="ajaxform">
            <div class="container">
                <h1>Form - Ajax form</h1>
                <form class="form-horizontal" id="ajaxform-test" action="#" form-ajax>
                    <div class="form-group">
                        <label class="col-xs-2">Business Unit</label>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" ng-model="businessUnit" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">submit</button>
                </form>
            </div>
            
            
        </div>
        <footer>
            <div class="container">
                Author: Vivi Jiang <b>vivijiang.dev@gmail.com</b>
            </div>
        </footer>
        <script src="../lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    </body>
</html>